<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    <context:annotation-config/>
    <context:component-scan base-package="session2"/>


    <!--    <bean id="notifier" class="session2.SmsNotifier"/>-->
    <!--  Factory Method  -->
    <!--    <bean id="notifier" class="session2.NotifierFactory"-->
    <!--          factory-method="getNotifier"/>-->

    <!--Factory Bean-->
    <bean id="notifierFactory" class="session2.NotifierFactory"/>
    <bean id="notifier" factory-bean="notifierFactory" factory-method="getNotifier"/>

    <!--    <bean id="notifier" class="session2.EmailNotifier"/>-->
    <bean id="notificationService" class="session2.NotificationService">
        <!--   Setter Injection-->
        <!--                <property name="notifier" ref="notifier"/>-->
        <!--   Constructor Injection-->
        <!--        <constructor-arg ref="notifier"/>-->
        <!--    Method Injection-->
        <lookup-method name="getNotifier" bean="notifier"/>
    </bean>

</beans>